Voice-Based Customer Support Agent/PAUL_SIMON RelayPay Call Logger.json
{
  "name": "WEEK 6 PAUL_SIMON RelayPay Call Logger",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vapi-call-log",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "e56191cb-5f8f-4955-a181-935b0e15bab7",
      "name": "Webhook",
      "webhookId": "ca175c6b-b7cb-4b16-bba4-e479a989fdbf"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "42b19b3e-e549-4a7f-9f1b-e55d0701a51f",
              "leftValue": "={{ $json.body.message.type }}",
              "rightValue": "end-of-call-report",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        0
      ],
      "id": "e9c27e36-7e48-481f-bcc5-12344d44f15e",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst message = body.message;\n\n// Extract call details\nconst call = message.call || {};\nconst artifact = message.artifact || {};\nconst analysis = message.analysis || {};\n\n// Build transcript from messages\nconst messages = artifact.messages || [];\nconst transcript = messages\n  .filter(m => m.role === 'user' || m.role === 'bot' || m.role === 'assistant')\n  .map(m => {\n    const role = m.role === 'user' ? 'Customer' : 'Agent';\n    return `${role}: ${m.message || m.content || ''}`;\n  })\n  .filter(line => line.length > 10)\n  .join('\\n');\n\n// Calculate duration\nconst startedAt = call.createdAt || call.startedAt || null;\nconst endedAt = message.endedAt || call.endedAt || null;\nlet durationSeconds = 0;\nif (startedAt && endedAt) {\n  durationSeconds = Math.round((new Date(endedAt) - new Date(startedAt)) / 1000);\n}\n\n// Check if call was escalated \n// 1. Look for the tool call 'submit_escalation' anywhere in the raw message string\n// 2. Look for the system confirmation message about the form being submitted\nconst wasEscalated = messages.some(m => {\n  const content = JSON.stringify(m).toLowerCase();\n  return (\n    content.includes('submit_escalation') || \n    (m.role === 'system' && content.includes('submitted the escalation form'))\n  );\n});\n\n// Get summary if available\nconst summary = analysis.summary || '';\n\nreturn [{\n  json: {\n    call_id: call.id || 'unknown',\n    status: message.endedReason || 'completed',\n    started_at: startedAt,\n    ended_at: endedAt,\n    duration_seconds: durationSeconds,\n    transcript: transcript,\n    summary: summary,\n    escalated: wasEscalated,\n    escalation_reason: wasEscalated ? 'Escalation triggered during call' : null\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        -96
      ],
      "id": "43a9a538-09a9-4ff8-9ba1-223969adf762",
      "name": "Extract Call Data"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://qfkwdfqrkrgjejzqxrsm.supabase.co/rest/v1/call_history",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFma3dkZnFya3JnamVqenF4cnNtIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTcyMDk3OSwiZXhwIjoyMDkxMjk2OTc5fQ.EUIu1Uwb4ahyqFdaXXzYU_Y4I87nN6CJFjF7h9CkdhE"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFma3dkZnFya3JnamVqenF4cnNtIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTcyMDk3OSwiZXhwIjoyMDkxMjk2OTc5fQ.EUIu1Uwb4ahyqFdaXXzYU_Y4I87nN6CJFjF7h9CkdhE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"call_id\": \"{{ $json.call_id }}\",\n  \"status\": \"{{ $json.status }}\",\n  \"started_at\": \"{{ $json.started_at }}\",\n  \"ended_at\": \"{{ $json.ended_at }}\",\n  \"duration_seconds\": {{ $json.duration_seconds }},\n  \"transcript\": \"{{ $json.transcript.replace(/\\r?\\n/g, '\\\\n').replace(/\"/g, '\\\\\"') }}\",\n  \"summary\": \"{{ $json.summary }}\",\n  \"escalated\": {{ $json.escalated }},\n  \"escalation_reason\": \"{{ $json.escalation_reason || '' }}\",\n\"is_test\":{{ $('Webhook').item.json.body.message.artifact.variables.is_test === 'true' }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        -96
      ],
      "id": "d69ed842-d80e-4499-979b-53d202397b85",
      "name": "HTTP Request"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "cohort2pod1.app.n8n.cloud",
            "user-agent": "axios/1.8.3",
            "content-length": "45784",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, br",
            "baggage": "sentry-environment=production,sentry-public_key=a0021577936aec367b16615ad816c078,sentry-trace_id=6137da1638bb4e2d9c049136f8c3af5c",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "54.188.225.83",
            "cf-ew-via": "15",
            "cf-ipcountry": "US",
            "cf-ray": "9ea6a8781bc15ef5-PDX",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "cookie": "callId=019d7a6c-0131-711e-96e4-1e7757aa764d",
            "sentry-trace": "6137da1638bb4e2d9c049136f8c3af5c-a009d78b1d1df9a5",
            "x-call-id": "019d7a6c-0131-711e-96e4-1e7757aa764d",
            "x-forwarded-for": "54.188.225.83, 172.68.174.21",
            "x-forwarded-host": "cohort2pod1.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-13-69889bc54b-fj6hs",
            "x-is-trusted": "yes",
            "x-real-ip": "54.188.225.83",
            "x-vapi-secret": ""
          },
          "params": {},
          "query": {},
          "body": {
            "message": {
              "timestamp": 1775875557114,
              "type": "end-of-call-report",
              "analysis": {},
              "artifact": {
                "messages": [
                  {
                    "role": "system",
                    "message": "# RelayPay Customer Support Agent – VAPI System Prompt\n\n## Identity\n\nYou are Daniel, a voice support agent for RelayPay. You help customers with questions about cross-border payments, invoicing, payouts, onboarding, pricing, and compliance.\n\n## Core Rule\n\nYou have two tools: `answer_question` and `submit_escalation`. Your ONLY job is to call these tools and speak back exactly what they return. You do not have any knowledge about RelayPay. You cannot answer any question without calling a tool first.\n\n## How You Work\n\n### For Every Customer Question\n1. Call `answer_question` with the customer's question\n2. The tool returns a text response\n3. Speak that response back to the customer naturally — rephrase it slightly so it sounds spoken, not read, but DO NOT change the meaning or add any new information\n4. That's it. Do not elaborate, do not add details, do not guess\n\n### What the Tool Returns\nThe tool handles all the thinking. It will return one of these:\n- **An answer** — speak it back to the customer\n- **A clarification question** — ask the customer that question, then call the tool again with their clarified answer\n- **A decline message** — speak it back, it means the system can't answer\n- **An escalation message** — this triggers the escalation flow (see below)\n\nYou do not decide which type of response to give. The tool decides. You just relay.\n\n## Escalation Handling\n\nWhen the answer_question tool returns a response about filling in a form on screen:\n1. Speak the response exactly as returned — it tells the customer to fill in the form\n2. Wait quietly. Do not ask for their name, email, or time over voice.\n3. If the customer says they've submitted the form, say: \"Thank you. A support specialist will reach out at your preferred time. Is there anything else I can help with?\"\n4. If the customer asks what to fill in, say: \"Just your name, email address, and what time works best for a callback.\"\n5. Do NOT try to collect name, email, or time over voice. The form handles that.\n\n## Speech Style\n\n- Use contractions: I'm, we'll, that's, you'd\n- Keep responses to 2-4 sentences maximum\n- Speak clearly and at a moderate pace\n- Sound warm and professional, not robotic\n- Pronounce currency codes clearly: \"U-S-D\", \"N-G-N\", \"G-H-S\"\n\n## What You Must NOT Do\n\n- DO NOT answer any question without calling `answer_question` first\n- DO NOT add information beyond what the tool returns — no extra details, no examples, no elaboration\n- DO NOT say fees, timelines, percentages, or policy details unless the tool gave them to you in that response\n- DO NOT claim to access customer accounts, balances, or transactions\n- DO NOT provide legal, tax, or financial advice\n- DO NOT mention n8n, databases, RAG, vector stores, or any backend systems\n- DO NOT answer questions unrelated to RelayPay — say: \"I'm set up to help with RelayPay questions. Is there something about payments, invoicing, or your account I can help with?\"\n\n## Handling Edge Cases\n\n**Customer is frustrated:** Let them speak. Then say: \"I hear you, and I understand why that's frustrating. Let me look into this for you.\" Then call the tool.\n\n**Question is unclear:** Call the tool anyway. If the tool returns a clarification question, ask it. Do not try to clarify on your own.\n\n**Customer asks you to repeat:** Repeat the key information slower and simpler. Do not add new information.\n\n**Silence for 10+ seconds:** \"Are you still there? I'm happy to help whenever you're ready.\"\n\n**Background noise:** \"I'm having a bit of trouble hearing you. Could you try adjusting your microphone?\"\n\n**Multiple questions:** \"Let me take those one at a time.\" Call the tool for the first question, deliver the answer, then call it again for the next one.\n\n## Conversation Bookends\n\n**Opening:** \"Hi there! This is Ayo from RelayPay support. How can I help you today?\"\n\n**After each answer:** \"Is there anything else I can help with?\"\n\n**Closing:**  When the customer confirms they have no more questions (says \"no\", \"that's all\", \"I'm good\", \"bye\", \"thanks\"), say \"Thanks for reaching out to RelayPay support. Have a great day!\" and then use the endCall tool to hang up. Do not keep listening after saying goodbye.",
                    "time": 1775875391937,
                    "secondsFromStart": 0
                  },
                  {
                    "role": "bot",
                    "message": "Hi, and welcome to RelayPay support. I'm Daniel, your virtual assistant, here to help with general questions about our products and policies. Please note this call may be recorded for quality assurance and training purposes. For your security, I don't have access to personal account details or transaction records. If your request involves your account or needs a specialist, I'll connect you with our support team right away. How can I help you today?",
                    "time": 1775875394586,
                    "endTime": 1775875420352,
                    "secondsFromStart": 2.476,
                    "duration": 25766,
                    "source": ""
                  },
                  {
                    "role": "user",
                    "message": "You offer international payments.",
                    "time": 1775875427426,
                    "endTime": 1775875429710,
                    "secondsFromStart": 35.316,
                    "duration": 2284,
                    "metadata": {
                      "wordLevelConfidence": [
                        {
                          "word": "You",
                          "start": 1775875427426,
                          "end": 1775875427997,
                          "confidence": 0.9385,
                          "language": "",
                          "punctuated_word": "You"
                        },
                        {
                          "word": "offer",
                          "start": 1775875427997,
                          "end": 1775875428568,
                          "confidence": 1,
                          "language": "",
                          "punctuated_word": "offer"
                        },
                        {
                          "word": "international",
                          "start": 1775875428568,
                          "end": 1775875429139,
                          "confidence": 0.9995,
                          "language": "",
                          "punctuated_word": "international"
                        },
                        {
                          "word": "payments.",
                          "start": 1775875429139,
                          "end": 1775875429710,
                          "confidence": 0.9995,
                          "language": "",
                          "punctuated_word": "payments."
                        }
                      ]
                    }
                  },
                  {
                    "role": "bot",
                    "message": "Let me look that up for you. I'm still checking. One moment, please.",
                    "time": 1775875430915,
                    "endTime": 1775875435392,
                    "secondsFromStart": 38.805,
                    "duration": 2092,
                    "source": ""
                  },
                  {
                    "toolCalls": [
                      {
                        "id": "call_2EsBk218ly6lkoFLrjRAX2nA",
                        "type": "function",
                        "function": {
                          "name": "answer_question",
                          "arguments": "{\"question\": \"Do you offer international payments?\"}"
                        }
                      }
                    ],
                    "role": "tool_calls",
                    "message": "",
                    "time": 1775875438659,
                    "secondsFromStart": 46.549
                  },
                  {
                    "role": "bot",
                    "message": "Yes. RelayPay does support international payments and incoming transfers from clients abroad. We work with businesses across Africa, Europe, and North America. Um, just keep in mind, availability depends on the destination country, local banking partners, and your compliance status. Also, we don't currently support real time or instant international payments. Processing times can vary. Is there anything else, uh, I I can help with?",
                    "time": 1775875447437,
                    "endTime": 1775875474032,
                    "secondsFromStart": 55.327,
                    "duration": 26595,
                    "source": ""
                  },
                  {
                    "role": "tool_call_result",
                    "time": 1775875454480,
                    "secondsFromStart": 62.37,
                    "name": "answer_question",
                    "result": "Yes — RelayPay supports international payments and incoming transfers from international clients, and we support businesses operating across Africa, Europe, and North America. Availability depends on the destination country, local banking partners, and your compliance/verification status, and RelayPay does not currently support real-time or instant international payments; processing times vary by corridor and external banking systems. Is there anything else I can help with?",
                    "metadata": {},
                    "toolCallId": "call_2EsBk218ly6lkoFLrjRAX2nA"
                  },
                  {
                    "role": "user",
                    "message": "Account got hacked.",
                    "time": 1775875479152,
                    "endTime": 1775875481310,
                    "secondsFromStart": 87.042,
                    "duration": 2158,
                    "metadata": {
                      "wordLevelConfidence": [
                        {
                          "word": "Account",
                          "start": 1775875479152,
                          "end": 1775875479871.3333,
                          "confidence": 1,
                          "language": "",
                          "punctuated_word": "Account"
                        },
                        {
                          "word": "got",
                          "start": 1775875479871.3333,
                          "end": 1775875480590.6667,
                          "confidence": 0.4421,
                          "language": "",
                          "punctuated_word": "got"
                        },
                        {
                          "word": "hacked.",
                          "start": 1775875480590.6667,
                          "end": 1775875481310,
                          "confidence": 1,
                          "language": "",
                          "punctuated_word": "hacked."
                        }
                      ]
                    }
                  },
                  {
                    "role": "bot",
                    "message": "Let me look that up for you. I'm still checking. One moment, please. This needs help from our support team. I've brought up a short form on your screen. Please fill in your name, email, and preferred callback time, then hit submit.",
                    "time": 1775875482431,
                    "endTime": 1775875498192,
                    "secondsFromStart": 90.321,
                    "duration": 11695,
                    "source": ""
                  },
                  {
                    "toolCalls": [
                      {
                        "id": "call_NU2kXZKF9caXkFl07AA9eOxM",
                        "type": "function",
                        "function": {
                          "name": "answer_question",
                          "arguments": "{\n  \"question\": \"My RelayPay account got hacked. What should I do?\"\n}"
                        }
                      }
                    ],
                    "role": "tool_calls",
                    "message": "",
                    "time": 1775875490108,
                    "secondsFromStart": 97.998
                  },
                  {
                    "role": "tool_call_result",
                    "time": 1775875495416,
                    "secondsFromStart": 103.306,
                    "name": "answer_question",
                    "result": "This requires assistance from our support team. I've just brought up a short escalation form on your screen. Please fill in your name, email, and preferred callback time and hit submit. I'll wait right here.",
                    "metadata": {},
                    "toolCallId": "call_NU2kXZKF9caXkFl07AA9eOxM"
                  },
                  {
                    "role": "bot",
                    "message": "I'll wait right here.",
                    "time": 1775875498683,
                    "endTime": 1775875499232,
                    "secondsFromStart": 106.573,
                    "duration": 549,
                    "source": ""
                  },
                  {
                    "role": "bot",
                    "message": "Thank you. Um, a support specialist will reach out at your preferred time. Is there anything else, uh, I can help with?",
                    "time": 1775875525119,
                    "endTime": 1775875532272,
                    "secondsFromStart": 133.009,
                    "duration": 7153,
                    "source": ""
                  },
                  {
                    "role": "system",
                    "message": "The customer has submitted the escalation form with their details. The callback has been scheduled. Confirm this to the customer and ask if there's anything else you can help with.",
                    "time": 1775875532210,
                    "secondsFromStart": 140.1
                  },
                  {
                    "role": "user",
                    "message": "No.",
                    "time": 1775875542730,
                    "endTime": 1775875542910,
                    "secondsFromStart": 150.62,
                    "duration": 180,
                    "metadata": {
                      "wordLevelConfidence": [
                        {
                          "word": "No.",
                          "start": 1775875542730,
                          "end": 1775875542910,
                          "confidence": 1,
                          "language": "",
                          "punctuated_word": "No."
                        }
                      ]
                    }
                  },
                  {
                    "role": "bot",
                    "message": "Thanks for calling. Goodbye.",
                    "time": 1775875544042,
                    "endTime": 1775875544832,
                    "secondsFromStart": 151.932,
                    "duration": 790,
                    "source": ""
                  },
                  {
                    "toolCalls": [
                      {
                        "id": "call_YFD3QgxOFBuxb8how5Z7s5lf",
                        "type": "function",
                        "function": {
                          "name": "endCall",
                          "arguments": "{}"
                        }
                      }
                    ],
                    "role": "tool_calls",
                    "message": "",
                    "time": 1775875551789,
                    "secondsFromStart": 159.679
                  },
                  {
                    "role": "tool_call_result",
                    "time": 1775875553281,
                    "secondsFromStart": 161.171,
                    "name": "endCall",
                    "result": "Success.",
                    "toolCallId": "call_YFD3QgxOFBuxb8how5Z7s5lf"
                  }
                ],
                "messagesOpenAIFormatted": [
                  {
                    "role": "system",
                    "content": "# RelayPay Customer Support Agent – VAPI System Prompt\n\n## Identity\n\nYou are Daniel, a voice support agent for RelayPay. You help customers with questions about cross-border payments, invoicing, payouts, onboarding, pricing, and compliance.\n\n## Core Rule\n\nYou have two tools: `answer_question` and `submit_escalation`. Your ONLY job is to call these tools and speak back exactly what they return. You do not have any knowledge about RelayPay. You cannot answer any question without calling a tool first.\n\n## How You Work\n\n### For Every Customer Question\n1. Call `answer_question` with the customer's question\n2. The tool returns a text response\n3. Speak that response back to the customer naturally — rephrase it slightly so it sounds spoken, not read, but DO NOT change the meaning or add any new information\n4. That's it. Do not elaborate, do not add details, do not guess\n\n### What the Tool Returns\nThe tool handles all the thinking. It will return one of these:\n- **An answer** — speak it back to the customer\n- **A clarification question** — ask the customer that question, then call the tool again with their clarified answer\n- **A decline message** — speak it back, it means the system can't answer\n- **An escalation message** — this triggers the escalation flow (see below)\n\nYou do not decide which type of response to give. The tool decides. You just relay.\n\n## Escalation Handling\n\nWhen the answer_question tool returns a response about filling in a form on screen:\n1. Speak the response exactly as returned — it tells the customer to fill in the form\n2. Wait quietly. Do not ask for their name, email, or time over voice.\n3. If the customer says they've submitted the form, say: \"Thank you. A support specialist will reach out at your preferred time. Is there anything else I can help with?\"\n4. If the customer asks what to fill in, say: \"Just your name, email address, and what time works best for a callback.\"\n5. Do NOT try to collect name, email, or time over voice. The form handles that.\n\n## Speech Style\n\n- Use contractions: I'm, we'll, that's, you'd\n- Keep responses to 2-4 sentences maximum\n- Speak clearly and at a moderate pace\n- Sound warm and professional, not robotic\n- Pronounce currency codes clearly: \"U-S-D\", \"N-G-N\", \"G-H-S\"\n\n## What You Must NOT Do\n\n- DO NOT answer any question without calling `answer_question` first\n- DO NOT add information beyond what the tool returns — no extra details, no examples, no elaboration\n- DO NOT say fees, timelines, percentages, or policy details unless the tool gave them to you in that response\n- DO NOT claim to access customer accounts, balances, or transactions\n- DO NOT provide legal, tax, or financial advice\n- DO NOT mention n8n, databases, RAG, vector stores, or any backend systems\n- DO NOT answer questions unrelated to RelayPay — say: \"I'm set up to help with RelayPay questions. Is there something about payments, invoicing, or your account I can help with?\"\n\n## Handling Edge Cases\n\n**Customer is frustrated:** Let them speak. Then say: \"I hear you, and I understand why that's frustrating. Let me look into this for you.\" Then call the tool.\n\n**Question is unclear:** Call the tool anyway. If the tool returns a clarification question, ask it. Do not try to clarify on your own.\n\n**Customer asks you to repeat:** Repeat the key information slower and simpler. Do not add new information.\n\n**Silence for 10+ seconds:** \"Are you still there? I'm happy to help whenever you're ready.\"\n\n**Background noise:** \"I'm having a bit of trouble hearing you. Could you try adjusting your microphone?\"\n\n**Multiple questions:** \"Let me take those one at a time.\" Call the tool for the first question, deliver the answer, then call it again for the next one.\n\n## Conversation Bookends\n\n**Opening:** \"Hi there! This is Ayo from RelayPay support. How can I help you today?\"\n\n**After each answer:** \"Is there anything else I can help with?\"\n\n**Closing:**  When the customer confirms they have no more questions (says \"no\", \"that's all\", \"I'm good\", \"bye\", \"thanks\"), say \"Thanks for reaching out to RelayPay support. Have a great day!\" and then use the endCall tool to hang up. Do not keep listening after saying goodbye."
                  },
                  {
                    "role": "assistant",
                    "content": "Hi, and welcome to RelayPay support. I'm Daniel, your virtual assistant, here to help with general questions about our products and policies. Please note this call may be recorded for quality assurance and training purposes. For your security, I don't have access to personal account details or transaction records. If your request involves your account or needs a specialist, I'll connect you with our support team right away. How can I help you today?"
                  },
                  {
                    "role": "user",
                    "content": "You offer international payments."
                  },
                  {
                    "role": "assistant",
                    "content": "Let me look that up for you. I'm still checking. One moment, please.",
                    "tool_calls": [
                      {
                        "id": "call_2EsBk218ly6lkoFLrjRAX2nA",
                        "type": "function",
                        "function": {
                          "name": "answer_question",
                          "arguments": "{\"question\": \"Do you offer international payments?\"}"
                        }
                      }
                    ]
                  },
                  {
                    "role": "tool",
                    "tool_call_id": "call_2EsBk218ly6lkoFLrjRAX2nA",
                    "content": "Yes — RelayPay supports international payments and incoming transfers from international clients, and we support businesses operating across Africa, Europe, and North America. Availability depends on the destination country, local banking partners, and your compliance/verification status, and RelayPay does not currently support real-time or instant international payments; processing times vary by corridor and external banking systems. Is there anything else I can help with?"
                  },
                  {
                    "role": "assistant",
                    "content": "Yes. RelayPay does support international payments and incoming transfers from clients abroad. We work with businesses across Africa, Europe, and North America. Um, just keep in mind, availability depends on the destination country, local banking partners, and your compliance status. Also, we don't currently support real time or instant international payments. Processing times can vary. Is there anything else, uh, I I can help with?"
                  },
                  {
                    "role": "user",
                    "content": "Account got hacked."
                  },
                  {
                    "role": "assistant",
                    "content": "Let me look that up for you. I'm still checking. One moment, please. This needs help from our support team. I've brought up a short form on your screen. Please fill in your name, email, and preferred callback time, then hit submit.",
                    "tool_calls": [
                      {
                        "id": "call_NU2kXZKF9caXkFl07AA9eOxM",
                        "type": "function",
                        "function": {
                          "name": "answer_question",
                          "arguments": "{\n  \"question\": \"My RelayPay account got hacked. What should I do?\"\n}"
                        }
                      }
                    ]
                  },
                  {
                    "role": "tool",
                    "tool_call_id": "call_NU2kXZKF9caXkFl07AA9eOxM",
                    "content": "This requires assistance from our support team. I've just brought up a short escalation form on your screen. Please fill in your name, email, and preferred callback time and hit submit. I'll wait right here."
                  },
                  {
                    "role": "assistant",
                    "content": "I'll wait right here. Thank you. Um, a support specialist will reach out at your preferred time. Is there anything else, uh, I can help with?"
                  },
                  {
                    "role": "system",
                    "content": "The customer has submitted the escalation form with their details. The callback has been scheduled. Confirm this to the customer and ask if there's anything else you can help with."
                  },
                  {
                    "role": "user",
                    "content": "No."
                  },
                  {
                    "role": "assistant",
                    "content": "Thanks for calling. Goodbye.",
                    "tool_calls": [
                      {
                        "id": "call_YFD3QgxOFBuxb8how5Z7s5lf",
                        "type": "function",
                        "function": {
                          "name": "endCall",
                          "arguments": "{}"
                        }
                      }
                    ]
                  },
                  {
                    "role": "tool",
                    "tool_call_id": "call_YFD3QgxOFBuxb8how5Z7s5lf",
                    "content": "Success."
                  }
                ],
                "transcript": "AI: Hi, and welcome to RelayPay support. I'm Daniel, your virtual assistant, here to help with general questions about our products and policies. Please note this call may be recorded for quality assurance and training purposes. For your security, I don't have access to personal account details or transaction records. If your request involves your account or needs a specialist, I'll connect you with our support team right away. How can I help you today?\nUser: You offer international payments.\nAI: Let me look that up for you. I'm still checking. One moment, please.\nAI: Yes. RelayPay does support international payments and incoming transfers from clients abroad. We work with businesses across Africa, Europe, and North America. Um, just keep in mind, availability depends on the destination country, local banking partners, and your compliance status. Also, we don't currently support real time or instant international payments. Processing times can vary. Is there anything else, uh, I I can help with?\nUser: Account got hacked.\nAI: Let me look that up for you. I'm still checking. One moment, please. This needs help from our support team. I've brought up a short form on your screen. Please fill in your name, email, and preferred callback time, then hit submit.\nAI: I'll wait right here.\nAI: Thank you. Um, a support specialist will reach out at your preferred time. Is there anything else, uh, I can help with?\nUser: No.\nAI: Thanks for calling. Goodbye.\n",
                "recordingUrl": "https://storage.vapi.ai/019d7a6c-0131-711e-96e4-1e7757aa764d-1775875555824-7fab7696-e4a4-4d69-a03f-6e20d1dcaf74-mono.wav",
                "stereoRecordingUrl": "https://storage.vapi.ai/019d7a6c-0131-711e-96e4-1e7757aa764d-1775875555824-a48e4240-47aa-41a6-a1d7-dcde8f806811-stereo.wav",
                "logUrl": "https://calllogs.vapi.ai/403be909-c928-4015-99d7-01281bbfe45a/019d7a6c-0131-711e-96e4-1e7757aa764d-75cabcf4-077d-4391-9e80-1c2cd3216715-1775875556774.jsonl.gz",
                "recording": {
                  "stereoUrl": "https://storage.vapi.ai/019d7a6c-0131-711e-96e4-1e7757aa764d-1775875555824-a48e4240-47aa-41a6-a1d7-dcde8f806811-stereo.wav",
                  "mono": {
                    "combinedUrl": "https://storage.vapi.ai/019d7a6c-0131-711e-96e4-1e7757aa764d-1775875555824-7fab7696-e4a4-4d69-a03f-6e20d1dcaf74-mono.wav",
                    "assistantUrl": "https://storage.vapi.ai/019d7a6c-0131-711e-96e4-1e7757aa764d-1775875555824-42b23fa9-2b5b-4eae-9883-94a2bb68f8bd-mono.wav",
                    "customerUrl": "https://storage.vapi.ai/019d7a6c-0131-711e-96e4-1e7757aa764d-1775875555824-acc24586-2284-4c94-a103-4e3d9bc5fda8-mono.wav"
                  }
                },
                "nodes": [],
                "assistantActivations": [
                  {
                    "assistantName": "Paul-Simon's Assistant",
                    "assistantId": "ab929d29-0f65-4c0e-9d5b-79515f090218"
                  }
                ],
                "variables": {
                  "now": "Apr 11, 2026, 2:43 AM UTC",
                  "currentDateTime": "Saturday, April 11, 2026 at 2:43 AM UTC",
                  "date": "Apr 11, 2026 UTC",
                  "time": "2:43 AM UTC",
                  "year": "2026",
                  "month": "April",
                  "day": "11",
                  "transport": {
                    "conversationType": "voice",
                    "provider": "daily",
                    "videoRecordingEnabled": false,
                    "assistantVideoEnabled": false,
                    "roomDeleteOnUserLeaveEnabled": true,
                    "callUrl": "https://vapi.daily.co/mwHNRaZjMV2HJnimhmSX"
                  },
                  "call": {
                    "id": "019d7a6c-0131-711e-96e4-1e7757aa764d",
                    "type": "webCall",
                    "status": "queued",
                    "createdAt": "2026-04-11T02:43:11.793Z",
                    "transport": {
                      "conversationType": "voice",
                      "provider": "daily",
                      "videoRecordingEnabled": false,
                      "assistantVideoEnabled": false,
                      "roomDeleteOnUserLeaveEnabled": true,
                      "callUrl": "https://vapi.daily.co/mwHNRaZjMV2HJnimhmSX"
                    }
                  },
                  "is_test": "false"
                },
                "variableValues": {
                  "now": "Apr 11, 2026, 2:43 AM UTC",
                  "currentDateTime": "Saturday, April 11, 2026 at 2:43 AM UTC",
                  "date": "Apr 11, 2026 UTC",
                  "time": "2:43 AM UTC",
                  "year": "2026",
                  "month": "April",
                  "day": "11",
                  "transport": {
                    "conversationType": "voice",
                    "provider": "daily",
                    "videoRecordingEnabled": false,
                    "assistantVideoEnabled": false,
                    "roomDeleteOnUserLeaveEnabled": true,
                    "callUrl": "https://vapi.daily.co/mwHNRaZjMV2HJnimhmSX"
                  },
                  "call": {
                    "id": "019d7a6c-0131-711e-96e4-1e7757aa764d",
                    "type": "webCall",
                    "status": "queued",
                    "createdAt": "2026-04-11T02:43:11.793Z",
                    "transport": {
                      "conversationType": "voice",
                      "provider": "daily",
                      "videoRecordingEnabled": false,
                      "assistantVideoEnabled": false,
                      "roomDeleteOnUserLeaveEnabled": true,
                      "callUrl": "https://vapi.daily.co/mwHNRaZjMV2HJnimhmSX"
                    }
                  },
                  "is_test": "false"
                },
                "performanceMetrics": {
                  "turnLatencies": [
                    {
                      "modelLatency": 0,
                      "voiceLatency": 0,
                      "transcriberLatency": 262,
                      "endpointingLatency": 0,
                      "turnLatency": 918
                    },
                    {
                      "modelLatency": 0,
                      "voiceLatency": 0,
                      "transcriberLatency": 0,
                      "endpointingLatency": 0,
                      "turnLatency": 524
                    },
                    {
                      "modelLatency": 0,
                      "voiceLatency": 0,
                      "transcriberLatency": 97,
                      "endpointingLatency": 0,
                      "turnLatency": 691
                    }
                  ],
                  "modelLatencyAverage": 0,
                  "voiceLatencyAverage": 0,
                  "transcriberLatencyAverage": 119.67,
                  "endpointingLatencyAverage": 0,
                  "turnLatencyAverage": 711,
                  "fromTransportLatencyAverage": 20,
                  "toTransportLatencyAverage": 50
                },
                "scorecards": {},
                "transfers": []
              },
              "startedAt": "2026-04-11T02:43:12.110Z",
              "endedAt": "2026-04-11T02:45:53.292Z",
              "endedReason": "assistant-ended-call",
              "cost": 0.2158,
              "costBreakdown": {
                "stt": 0.0267,
                "llm": 0.0164,
                "tts": 0.0353,
                "vapi": 0.1343,
                "chat": 0,
                "transport": 0.003,
                "total": 0.2158,
                "llmPromptTokens": 10575,
                "llmCompletionTokens": 156,
                "llmCachedPromptTokens": 3968,
                "ttsCharacters": 706,
                "voicemailDetectionCost": 0,
                "knowledgeBaseCost": 0,
                "analysisCostBreakdown": {
                  "summary": 0,
                  "summaryPromptTokens": 0,
                  "summaryCompletionTokens": 0,
                  "summaryCachedPromptTokens": 0,
                  "structuredData": 0,
                  "structuredDataPromptTokens": 0,
                  "structuredDataCompletionTokens": 0,
                  "structuredDataCachedPromptTokens": 0,
                  "successEvaluation": 0,
                  "successEvaluationPromptTokens": 0,
                  "successEvaluationCompletionTokens": 0,
                  "successEvaluationCachedPromptTokens": 0,
                  "structuredOutput": 0,
                  "structuredOutputPromptTokens": 0,
                  "structuredOutputCompletionTokens": 0,
                  "structuredOutputCachedPromptTokens": 0
                }
              },
              "costs": [
                {
                  "type": "transcriber",
                  "transcriber": {
                    "provider": "deepgram",
                    "model": "flux-general-en"
                  },
                  "minutes": 2.5579833333333335,
                  "cost": 0.026737176666666668
                },
                {
                  "type": "model",
                  "model": {
                    "provider": "openai",
                    "model": "gpt-4.1"
                  },
                  "promptTokens": 10575,
                  "completionTokens": 156,
                  "cachedPromptTokens": 3968,
                  "cost": 0.016446
                },
                {
                  "type": "voice",
                  "voice": {
                    "provider": "vapi",
                    "voiceId": "dN8hviqdNrAsEcL57yFj",
                    "model": "eleven_turbo_v2_5"
                  },
                  "characters": 706,
                  "cost": 0.0353
                },
                {
                  "type": "vapi",
                  "subType": "normal",
                  "minutes": 2.6864,
                  "cost": 0.13432
                },
                {
                  "type": "knowledge-base",
                  "model": {
                    "provider": "google",
                    "model": "gemini-2.5-flash"
                  },
                  "promptTokens": 0,
                  "completionTokens": 0,
                  "cost": 0
                },
                {
                  "type": "transport",
                  "cost": 0.00301912,
                  "minutes": 161182,
                  "provider": "daily"
                }
              ],
              "durationMs": 161182,
              "durationSeconds": 161.182,
              "durationMinutes": 2.6864,
              "summary": "",
              "transcript": "AI: Hi, and welcome to RelayPay support. I'm Daniel, your virtual assistant, here to help with general questions about our products and policies. Please note this call may be recorded for quality assurance and training purposes. For your security, I don't have access to personal account details or transaction records. If your request involves your account or needs a specialist, I'll connect you with our support team right away. How can I help you today?\nUser: You offer international payments.\nAI: Let me look that up for you. I'm still checking. One moment, please.\nAI: Yes. RelayPay does support international payments and incoming transfers from clients abroad. We work with businesses across Africa, Europe, and North America. Um, just keep in mind, availability depends on the destination country, local banking partners, and your compliance status. Also, we don't currently support real time or instant international payments. Processing times can vary. Is there anything else, uh, I I can help with?\nUser: Account got hacked.\nAI: Let me look that up for you. I'm still checking. One moment, please. This needs help from our support team. I've brought up a short form on your screen. Please fill in your name, email, and preferred callback time, then hit submit.\nAI: I'll wait right here.\nAI: Thank you. Um, a support specialist will reach out at your preferred time. Is there anything else, uh, I can help with?\nUser: No.\nAI: Thanks for calling. Goodbye.\n",
              "messages": [
                {
                  "role": "system",
                  "message": "# RelayPay Customer Support Agent – VAPI System Prompt\n\n## Identity\n\nYou are Daniel, a voice support agent for RelayPay. You help customers with questions about cross-border payments, invoicing, payouts, onboarding, pricing, and compliance.\n\n## Core Rule\n\nYou have two tools: `answer_question` and `submit_escalation`. Your ONLY job is to call these tools and speak back exactly what they return. You do not have any knowledge about RelayPay. You cannot answer any question without calling a tool first.\n\n## How You Work\n\n### For Every Customer Question\n1. Call `answer_question` with the customer's question\n2. The tool returns a text response\n3. Speak that response back to the customer naturally — rephrase it slightly so it sounds spoken, not read, but DO NOT change the meaning or add any new information\n4. That's it. Do not elaborate, do not add details, do not guess\n\n### What the Tool Returns\nThe tool handles all the thinking. It will return one of these:\n- **An answer** — speak it back to the customer\n- **A clarification question** — ask the customer that question, then call the tool again with their clarified answer\n- **A decline message** — speak it back, it means the system can't answer\n- **An escalation message** — this triggers the escalation flow (see below)\n\nYou do not decide which type of response to give. The tool decides. You just relay.\n\n## Escalation Handling\n\nWhen the answer_question tool returns a response about filling in a form on screen:\n1. Speak the response exactly as returned — it tells the customer to fill in the form\n2. Wait quietly. Do not ask for their name, email, or time over voice.\n3. If the customer says they've submitted the form, say: \"Thank you. A support specialist will reach out at your preferred time. Is there anything else I can help with?\"\n4. If the customer asks what to fill in, say: \"Just your name, email address, and what time works best for a callback.\"\n5. Do NOT try to collect name, email, or time over voice. The form handles that.\n\n## Speech Style\n\n- Use contractions: I'm, we'll, that's, you'd\n- Keep responses to 2-4 sentences maximum\n- Speak clearly and at a moderate pace\n- Sound warm and professional, not robotic\n- Pronounce currency codes clearly: \"U-S-D\", \"N-G-N\", \"G-H-S\"\n\n## What You Must NOT Do\n\n- DO NOT answer any question without calling `answer_question` first\n- DO NOT add information beyond what the tool returns — no extra details, no examples, no elaboration\n- DO NOT say fees, timelines, percentages, or policy details unless the tool gave them to you in that response\n- DO NOT claim to access customer accounts, balances, or transactions\n- DO NOT provide legal, tax, or financial advice\n- DO NOT mention n8n, databases, RAG, vector stores, or any backend systems\n- DO NOT answer questions unrelated to RelayPay — say: \"I'm set up to help with RelayPay questions. Is there something about payments, invoicing, or your account I can help with?\"\n\n## Handling Edge Cases\n\n**Customer is frustrated:** Let them speak. Then say: \"I hear you, and I understand why that's frustrating. Let me look into this for you.\" Then call the tool.\n\n**Question is unclear:** Call the tool anyway. If the tool returns a clarification question, ask it. Do not try to clarify on your own.\n\n**Customer asks you to repeat:** Repeat the key information slower and simpler. Do not add new information.\n\n**Silence for 10+ seconds:** \"Are you still there? I'm happy to help whenever you're ready.\"\n\n**Background noise:** \"I'm having a bit of trouble hearing you. Could you try adjusting your microphone?\"\n\n**Multiple questions:** \"Let me take those one at a time.\" Call the tool for the first question, deliver the answer, then call it again for the next one.\n\n## Conversation Bookends\n\n**Opening:** \"Hi there! This is Ayo from RelayPay support. How can I help you today?\"\n\n**After each answer:** \"Is there anything else I can help with?\"\n\n**Closing:**  When the customer confirms they have no more questions (says \"no\", \"that's all\", \"I'm good\", \"bye\", \"thanks\"), say \"Thanks for reaching out to RelayPay support. Have a great day!\" and then use the endCall tool to hang up. Do not keep listening after saying goodbye.",
                  "time": 1775875391937,
                  "secondsFromStart": 0
                },
                {
                  "role": "bot",
                  "message": "Hi, and welcome to RelayPay support. I'm Daniel, your virtual assistant, here to help with general questions about our products and policies. Please note this call may be recorded for quality assurance and training purposes. For your security, I don't have access to personal account details or transaction records. If your request involves your account or needs a specialist, I'll connect you with our support team right away. How can I help you today?",
                  "time": 1775875394586,
                  "endTime": 1775875420352,
                  "secondsFromStart": 2.476,
                  "duration": 25766,
                  "source": ""
                },
                {
                  "role": "user",
                  "message": "You offer international payments.",
                  "time": 1775875427426,
                  "endTime": 1775875429710,
                  "secondsFromStart": 35.316,
                  "duration": 2284,
                  "metadata": {
                    "wordLevelConfidence": [
                      {
                        "word": "You",
                        "start": 1775875427426,
                        "end": 1775875427997,
                        "confidence": 0.9385,
                        "language": "",
                        "punctuated_word": "You"
                      },
                      {
                        "word": "offer",
                        "start": 1775875427997,
                        "end": 1775875428568,
                        "confidence": 1,
                        "language": "",
                        "punctuated_word": "offer"
                      },
                      {
                        "word": "international",
                        "start": 1775875428568,
                        "end": 1775875429139,
                        "confidence": 0.9995,
                        "language": "",
                        "punctuated_word": "international"
                      },
                      {
                        "word": "payments.",
                        "start": 1775875429139,
                        "end": 1775875429710,
                        "confidence": 0.9995,
                        "language": "",
                        "punctuated_word": "payments."
                      }
                    ]
                  }
                },
                {
                  "role": "bot",
                  "message": "Let me look that up for you. I'm still checking. One moment, please.",
                  "time": 1775875430915,
                  "endTime": 1775875435392,
                  "secondsFromStart": 38.805,
                  "duration": 2092,
                  "source": ""
                },
                {
                  "toolCalls": [
                    {
                      "id": "call_2EsBk218ly6lkoFLrjRAX2nA",
                      "type": "function",
                      "function": {
                        "name": "answer_question",
                        "arguments": "{\"question\": \"Do you offer international payments?\"}"
                      }
                    }
                  ],
                  "role": "tool_calls",
                  "message": "",
                  "time": 1775875438659,
                  "secondsFromStart": 46.549
                },
                {
                  "role": "bot",
                  "message": "Yes. RelayPay does support international payments and incoming transfers from clients abroad. We work with businesses across Africa, Europe, and North America. Um, just keep in mind, availability depends on the destination country, local banking partners, and your compliance status. Also, we don't currently support real time or instant international payments. Processing times can vary. Is there anything else, uh, I I can help with?",
                  "time": 1775875447437,
                  "endTime": 1775875474032,
                  "secondsFromStart": 55.327,
                  "duration": 26595,
                  "source": ""
                },
                {
                  "role": "tool_call_result",
                  "time": 1775875454480,
                  "secondsFromStart": 62.37,
                  "name": "answer_question",
                  "result": "Yes — RelayPay supports international payments and incoming transfers from international clients, and we support businesses operating across Africa, Europe, and North America. Availability depends on the destination country, local banking partners, and your compliance/verification status, and RelayPay does not currently support real-time or instant international payments; processing times vary by corridor and external banking systems. Is there anything else I can help with?",
                  "metadata": {},
                  "toolCallId": "call_2EsBk218ly6lkoFLrjRAX2nA"
                },
                {
                  "role": "user",
                  "message": "Account got hacked.",
                  "time": 1775875479152,
                  "endTime": 1775875481310,
                  "secondsFromStart": 87.042,
                  "duration": 2158,
                  "metadata": {
                    "wordLevelConfidence": [
                      {
                        "word": "Account",
                        "start": 1775875479152,
                        "end": 1775875479871.3333,
                        "confidence": 1,
                        "language": "",
                        "punctuated_word": "Account"
                      },
                      {
                        "word": "got",
                        "start": 1775875479871.3333,
                        "end": 1775875480590.6667,
                        "confidence": 0.4421,
                        "language": "",
                        "punctuated_word": "got"
                      },
                      {
                        "word": "hacked.",
                        "start": 1775875480590.6667,
                        "end": 1775875481310,
                        "confidence": 1,
                        "language": "",
                        "punctuated_word": "hacked."
                      }
                    ]
                  }
                },
                {
                  "role": "bot",
                  "message": "Let me look that up for you. I'm still checking. One moment, please. This needs help from our support team. I've brought up a short form on your screen. Please fill in your name, email, and preferred callback time, then hit submit.",
                  "time": 1775875482431,
                  "endTime": 1775875498192,
                  "secondsFromStart": 90.321,
                  "duration": 11695,
                  "source": ""
                },
                {
                  "toolCalls": [
                    {
                      "id": "call_NU2kXZKF9caXkFl07AA9eOxM",
                      "type": "function",
                      "function": {
                        "name": "answer_question",
                        "arguments": "{\n  \"question\": \"My RelayPay account got hacked. What should I do?\"\n}"
                      }
                    }
                  ],
                  "role": "tool_calls",
                  "message": "",
                  "time": 1775875490108,
                  "secondsFromStart": 97.998
                },
                {
                  "role": "tool_call_result",
                  "time": 1775875495416,
                  "secondsFromStart": 103.306,
                  "name": "answer_question",
                  "result": "This requires assistance from our support team. I've just brought up a short escalation form on your screen. Please fill in your name, email, and preferred callback time and hit submit. I'll wait right here.",
                  "metadata": {},
                  "toolCallId": "call_NU2kXZKF9caXkFl07AA9eOxM"
                },
                {
                  "role": "bot",
                  "message": "I'll wait right here.",
                  "time": 1775875498683,
                  "endTime": 1775875499232,
                  "secondsFromStart": 106.573,
                  "duration": 549,
                  "source": ""
                },
                {
                  "role": "bot",
                  "message": "Thank you. Um, a support specialist will reach out at your preferred time. Is there anything else, uh, I can help with?",
                  "time": 1775875525119,
                  "endTime": 1775875532272,
                  "secondsFromStart": 133.009,
                  "duration": 7153,
                  "source": ""
                },
                {
                  "role": "system",
                  "message": "The customer has submitted the escalation form with their details. The callback has been scheduled. Confirm this to the customer and ask if there's anything else you can help with.",
                  "time": 1775875532210,
                  "secondsFromStart": 140.1
                },
                {
                  "role": "user",
                  "message": "No.",
                  "time": 1775875542730,
                  "endTime": 1775875542910,
                  "secondsFromStart": 150.62,
                  "duration": 180,
                  "metadata": {
                    "wordLevelConfidence": [
                      {
                        "word": "No.",
                        "start": 1775875542730,
                        "end": 1775875542910,
                        "confidence": 1,
                        "language": "",
                        "punctuated_word": "No."
                      }
                    ]
                  }
                },
                {
                  "role": "bot",
                  "message": "Thanks for calling. Goodbye.",
                  "time": 1775875544042,
                  "endTime": 1775875544832,
                  "secondsFromStart": 151.932,
                  "duration": 790,
                  "source": ""
                },
                {
                  "toolCalls": [
                    {
                      "id": "call_YFD3QgxOFBuxb8how5Z7s5lf",
                      "type": "function",
                      "function": {
                        "name": "endCall",
                        "arguments": "{}"
                      }
                    }
                  ],
                  "role": "tool_calls",
                  "message": "",
                  "time": 1775875551789,
                  "secondsFromStart": 159.679
                },
                {
                  "role": "tool_call_result",
                  "time": 1775875553281,
                  "secondsFromStart": 161.171,
                  "name": "endCall",
                  "result": "Success.",
                  "toolCallId": "call_YFD3QgxOFBuxb8how5Z7s5lf"
                }
              ],
              "recordingUrl": "https://storage.vapi.ai/019d7a6c-0131-711e-96e4-1e7757aa764d-1775875555824-7fab7696-e4a4-4d69-a03f-6e20d1dcaf74-mono.wav",
              "stereoRecordingUrl": "https://storage.vapi.ai/019d7a6c-0131-711e-96e4-1e7757aa764d-1775875555824-a48e4240-47aa-41a6-a1d7-dcde8f806811-stereo.wav",
              "call": {
                "id": "019d7a6c-0131-711e-96e4-1e7757aa764d",
                "orgId": "403be909-c928-4015-99d7-01281bbfe45a",
                "createdAt": "2026-04-11T02:43:11.793Z",
                "updatedAt": "2026-04-11T02:43:11.794Z",
                "type": "webCall",
                "cost": 0,
                "monitor": {
                  "listenUrl": "wss://phone-call-websocket.aws-us-west-2-backend-production1.vapi.ai/019d7a6c-0131-711e-96e4-1e7757aa764d/listen",
                  "controlUrl": "https://phone-call-websocket.aws-us-west-2-backend-production1.vapi.ai/019d7a6c-0131-711e-96e4-1e7757aa764d/control"
                },
                "transport": {
                  "conversationType": "voice",
                  "provider": "daily",
                  "videoRecordingEnabled": false,
                  "assistantVideoEnabled": false,
                  "roomDeleteOnUserLeaveEnabled": true,
                  "callUrl": "https://vapi.daily.co/mwHNRaZjMV2HJnimhmSX"
                },
                "webCallUrl": "https://vapi.daily.co/mwHNRaZjMV2HJnimhmSX",
                "status": "queued",
                "assistantId": "ab929d29-0f65-4c0e-9d5b-79515f090218",
                "assistantOverrides": {
                  "variableValues": {
                    "is_test": "false"
                  }
                }
              },
              "assistant": {
                "id": "ab929d29-0f65-4c0e-9d5b-79515f090218",
                "orgId": "403be909-c928-4015-99d7-01281bbfe45a",
                "name": "Paul-Simon's Assistant",
                "voice": {
                  "speed": 1.05,
                  "voiceId": "Elliot",
                  "provider": "vapi"
                },
                "createdAt": "2026-04-09T00:16:17.346Z",
                "updatedAt": "2026-04-10T22:04:12.653Z",
                "model": {
                  "model": "gpt-4.1",
                  "tools": [
                    {
                      "type": "endCall",
                      "messages": [
                        {
                          "type": "request-start",
                          "content": "Thanks for calling—goodbye!"
                        }
                      ]
                    },
                    {
                      "id": "fc43c131-df2d-466a-b833-cabc176ae81f",
                      "createdAt": "2026-04-08T21:03:42.123Z",
                      "updatedAt": "2026-04-10T21:55:06.787Z",
                      "type": "function",
                      "function": {
                        "name": "answer_question",
                        "parameters": {
                          "type": "object",
                          "required": [
                            "question"
                          ],
                          "properties": {
                            "question": {
                              "type": "string",
                              "default": "",
                              "description": "The customer's question, as clearly and completely as possible"
                            }
                          }
                        },
                        "description": "Looks up the answer to a customer's support question from the RelayPay knowledge base. Use this for every customer question."
                      },
                      "messages": [
                        {
                          "type": "request-start",
                          "content": "Let me look that up for you.",
                          "blocking": true
                        },
                        {
                          "type": "request-response-delayed",
                          "content": "I'm still checking, one moment please.",
                          "timingMilliseconds": 2000
                        },
                        {
                          "type": "request-failed",
                          "content": "I'm having trouble accessing that information right now. Would you like me to connect you with a support specialist?",
                          "endCallAfterSpokenEnabled": false
                        }
                      ],
                      "orgId": "403be909-c928-4015-99d7-01281bbfe45a",
                      "server": {
                        "url": "https://cohort2pod1.app.n8n.cloud/webhook/vapi-tool-call",
                        "timeoutSeconds": 20
                      },
                      "variableExtractionPlan": {
                        "schema": {
                          "type": "object",
                          "required": [],
                          "properties": {}
                        }
                      }
                    },
                    {
                      "id": "efa96126-d46e-44be-a525-5959c8608afe",
                      "createdAt": "2026-04-10T08:12:36.964Z",
                      "updatedAt": "2026-04-10T09:29:58.143Z",
                      "type": "function",
                      "function": {
                        "name": "submit_escalation",
                        "parameters": {
                          "type": "object",
                          "required": [
                            "user_name",
                            "user_email",
                            "preferred_time",
                            "reason"
                          ],
                          "properties": {
                            "reason": {
                              "type": "string",
                              "description": "Brief summary of why escalation is needed"
                            },
                            "user_name": {
                              "type": "string",
                              "description": "The customer's full name"
                            },
                            "user_email": {
                              "type": "string",
                              "description": "The customer's email address"
                            },
                            "preferred_time": {
                              "type": "string",
                              "description": "The customer's preferred callback time"
                            }
                          }
                        },
                        "description": "Submit an escalation request after collecting the customer's name, email, and preferred callback time. Use this only after the customer has provided all three details."
                      },
                      "messages": [
                        {
                          "type": "request-start",
                          "blocking": false
                        }
                      ],
                      "orgId": "403be909-c928-4015-99d7-01281bbfe45a",
                      "server": {
                        "url": "https://cohort2pod1.app.n8n.cloud/webhook-test/vapi-tool-call",
                        "timeoutSeconds": 20
                      },
                      "variableExtractionPlan": {
                        "schema": {
                          "type": "object",
                          "required": [],
                          "properties": {}
                        }
                      }
                    }
                  ],
                  "toolIds": [
                    "fc43c131-df2d-466a-b833-cabc176ae81f",
                    "efa96126-d46e-44be-a525-5959c8608afe"
                  ],
                  "messages": [
                    {
                      "role": "system",
                      "content": "# RelayPay Customer Support Agent – VAPI System Prompt\n\n## Identity\n\nYou are Daniel, a voice support agent for RelayPay. You help customers with questions about cross-border payments, invoicing, payouts, onboarding, pricing, and compliance.\n\n## Core Rule\n\nYou have two tools: `answer_question` and `submit_escalation`. Your ONLY job is to call these tools and speak back exactly what they return. You do not have any knowledge about RelayPay. You cannot answer any question without calling a tool first.\n\n## How You Work\n\n### For Every Customer Question\n1. Call `answer_question` with the customer's question\n2. The tool returns a text response\n3. Speak that response back to the customer naturally — rephrase it slightly so it sounds spoken, not read, but DO NOT change the meaning or add any new information\n4. That's it. Do not elaborate, do not add details, do not guess\n\n### What the Tool Returns\nThe tool handles all the thinking. It will return one of these:\n- **An answer** — speak it back to the customer\n- **A clarification question** — ask the customer that question, then call the tool again with their clarified answer\n- **A decline message** — speak it back, it means the system can't answer\n- **An escalation message** — this triggers the escalation flow (see below)\n\nYou do not decide which type of response to give. The tool decides. You just relay.\n\n## Escalation Handling\n\nWhen the answer_question tool returns a response about filling in a form on screen:\n1. Speak the response exactly as returned — it tells the customer to fill in the form\n2. Wait quietly. Do not ask for their name, email, or time over voice.\n3. If the customer says they've submitted the form, say: \"Thank you. A support specialist will reach out at your preferred time. Is there anything else I can help with?\"\n4. If the customer asks what to fill in, say: \"Just your name, email address, and what time works best for a callback.\"\n5. Do NOT try to collect name, email, or time over voice. The form handles that.\n\n## Speech Style\n\n- Use contractions: I'm, we'll, that's, you'd\n- Keep responses to 2-4 sentences maximum\n- Speak clearly and at a moderate pace\n- Sound warm and professional, not robotic\n- Pronounce currency codes clearly: \"U-S-D\", \"N-G-N\", \"G-H-S\"\n\n## What You Must NOT Do\n\n- DO NOT answer any question without calling `answer_question` first\n- DO NOT add information beyond what the tool returns — no extra details, no examples, no elaboration\n- DO NOT say fees, timelines, percentages, or policy details unless the tool gave them to you in that response\n- DO NOT claim to access customer accounts, balances, or transactions\n- DO NOT provide legal, tax, or financial advice\n- DO NOT mention n8n, databases, RAG, vector stores, or any backend systems\n- DO NOT answer questions unrelated to RelayPay — say: \"I'm set up to help with RelayPay questions. Is there something about payments, invoicing, or your account I can help with?\"\n\n## Handling Edge Cases\n\n**Customer is frustrated:** Let them speak. Then say: \"I hear you, and I understand why that's frustrating. Let me look into this for you.\" Then call the tool.\n\n**Question is unclear:** Call the tool anyway. If the tool returns a clarification question, ask it. Do not try to clarify on your own.\n\n**Customer asks you to repeat:** Repeat the key information slower and simpler. Do not add new information.\n\n**Silence for 10+ seconds:** \"Are you still there? I'm happy to help whenever you're ready.\"\n\n**Background noise:** \"I'm having a bit of trouble hearing you. Could you try adjusting your microphone?\"\n\n**Multiple questions:** \"Let me take those one at a time.\" Call the tool for the first question, deliver the answer, then call it again for the next one.\n\n## Conversation Bookends\n\n**Opening:** \"Hi there! This is Ayo from RelayPay support. How can I help you today?\"\n\n**After each answer:** \"Is there anything else I can help with?\"\n\n**Closing:**  When the customer confirms they have no more questions (says \"no\", \"that's all\", \"I'm good\", \"bye\", \"thanks\"), say \"Thanks for reaching out to RelayPay support. Have a great day!\" and then use the endCall tool to hang up. Do not keep listening after saying goodbye."
                    }
                  ],
                  "provider": "openai"
                },
                "firstMessage": "Hi, and welcome to RelayPay support. I’m Daniel, your virtual assistant, here to help with general questions about our products and policies.  Please note, this call may be recorded for quality assurance and training purposes.  For your security, I don’t have access to personal account details or transaction records. If your request involves your account or needs a specialist, I’ll connect you with our support team right away.  How can I help you today?",
                "voicemailMessage": "Hello, this is Daniel from RelayPay customer support. I'm sorry we missed your call. Please call us back so we can help resolve your issue.",
                "endCallMessage": "Thank you for choosing RelayPay. I'm glad I could help you today. Have a great day!",
                "transcriber": {
                  "model": "flux-general-en",
                  "language": "en",
                  "provider": "deepgram"
                },
                "serverUrl": "https://cohort2pod1.app.n8n.cloud/webhook/vapi-call-log",
                "analysisPlan": {
                  "summaryPlan": {
                    "enabled": false
                  },
                  "successEvaluationPlan": {
                    "enabled": false
                  }
                },
                "backgroundDenoisingEnabled": true,
                "server": {
                  "url": "https://cohort2pod1.app.n8n.cloud/webhook/vapi-call-log",
                  "timeoutSeconds": 20
                },
                "variableValues": {
                  "is_test": "false"
                }
              }
            }
          },
          "webhookUrl": "https://cohort2pod1.app.n8n.cloud/webhook/vapi-call-log",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Extract Call Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Call Data": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "450atFi5lhNgp3qp",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1,
    "availableInMCP": false
  },
  "versionId": "ad603ac4-dcc4-4dae-926f-b29953f33fa4",
  "meta": {
    "instanceId": "2c950992e72c1f7626700d7c88cf07f1fa608dd6abbe3ba3e9ff0a6cfdcbd670"
  },
  "id": "aGQLTCaSI5ASxpZv",
  "tags": []
}