Voice-Based Customer Support Agent/PAUL SIMON MAIN WORKFLOW.json
{
  "name": "WEEK 6 PAUL SIMON MAIN WORKFLOW",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vapi-tool-call",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "node-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -784,
        800
      ],
      "webhookId": "vapi-tool-call"
    },
    {
      "parameters": {
        "jsCode": "const payload = $input.first().json.body || $input.first().json;\nconst message = payload.message || payload;\nconst toolCalls = message.toolCallList || message.toolCalls || [];\nconst toolCall = toolCalls[0] || {};\nconst toolName = toolCall.function?.name || '';\nconst args = toolCall.function?.arguments || {};\nconst parsedArgs = typeof args === 'string' ? JSON.parse(args) : args;\nconst toolCallId = toolCall.id || '';\n\nif (toolName === 'submit_escalation') {\n  return [{\n    json: {\n      toolType: 'escalation',\n      toolCallId,\n      // Change: Use strict boolean check to ensure false is preserved\n      isTest: parsedArgs.is_test === true, \n      userName: parsedArgs.user_name || '',\n      userEmail: parsedArgs.user_email || '',\n      preferredTime: parsedArgs.preferred_time || '',\n      reason: parsedArgs.reason || ''\n    }\n  }];\n}\n\n// Default: answer_question\nconst userQuery = parsedArgs.question || '';\n\nif (!userQuery || userQuery.trim().length < 3) {\n  return [{\n    json: {\n      toolType: 'answer',\n      toolCallId,\n      // Optional: Add isTest here too if you log KB queries\n      isTest: parsedArgs.is_test === true,\n      userQuery: '',\n      skipProcessing: true,\n      response: \"I didn't quite catch that. Could you please repeat your question?\"\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    toolType: 'answer',\n    toolCallId,\n    // Optional: Add isTest here too if you log KB queries\n    isTest: parsedArgs.is_test === true,\n    userQuery: userQuery.trim(),\n    skipProcessing: false\n  }\n}];\n"
      },
      "id": "node-extract",
      "name": "Extract & Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        800
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "74e1084f-4ff4-4a7c-960c-8177039e7bf0",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "direct_answer",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f41e9bf8-74b5-4fe5-ba81-3a596fe67838",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "clarify",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b75906fe-d74e-400b-8388-b405409dcf90",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "decline",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1888,
        784
      ],
      "id": "719434cb-436f-4010-a0ed-5a9b000c761b",
      "name": "Switch"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.userQuery }}",
        "needsFallback": true,
        "options": {
          "systemMessage": "You are a customer support agent for RelayPay, a B2B cross-border payments platform for African startups and SMEs.\n\nYou have access to a knowledge base tool. ALWAYS search it before responding.\n\nAfter searching, you must decide ONE of three actions. Respond with a JSON object wrapped in <response> tags:\n\n1. DIRECT ANSWER — you found relevant information and can answer the question:\n<response>\n{\"action\": \"direct_answer\", \"message\": \"your 2-4 sentence answer here\"}\n</response>\n\n2. CLARIFY — the question is vague or missing key details, you need more information before you can search effectively:\n<response>\n{\"action\": \"clarify\", \"message\": \"your specific clarification question here\"}\n</response>\n\n3. DECLINE — you searched but found no relevant information, or answering would require guessing:\n<response>\n{\"action\": \"decline\", \"message\": \"I don't have enough reliable information to answer that accurately. I'd recommend reaching out to our support team at support@relaypay.co for a precise answer. Is there anything else I can help with?\"}\n</response>\n\nRULES:\n- ALWAYS search the knowledge base first, even if you think you know the answer.\n- ONLY use information from the knowledge base. Never answer from your own knowledge.\n- For direct answers: keep to 2-4 sentences, plain spoken language, no bullet points or markdown. End with \"Is there anything else I can help with?\"\n- For clarify: ask ONE specific question to get the missing detail.\n- For decline: use when the KB returned nothing relevant or the topic isn't covered.\n- Never fabricate fees, timelines, or policy details.\n- Be warm and professional."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1104,
        800
      ],
      "id": "36d1e336-e886-4509-937f-e8304df869c5",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "work with your data in vectore store",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1296,
        1024
      ],
      "id": "eabcefc0-3116-4316-b5b6-47c9741903e8",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "Hbsubtmid3u1GziD",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1376,
        1232
      ],
      "id": "71dff427-27a6-4ab4-a159-0ee2501e142f",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "8hPrBjFXvWvVS9z7",
          "name": "OpenAi account 8"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1040,
        1024
      ],
      "id": "6e0235db-7a60-4421-b893-219d79b5ac6e",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "8hPrBjFXvWvVS9z7",
          "name": "OpenAi account 8"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $('Extract Agent Answer').first().json;\n\nreturn [{\n  json: {\n    toolCallId: data.toolCallId,\n    response: data.response\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2112,
        608
      ],
      "id": "3beecf03-734d-44fa-9929-ca733cbbd5f9",
      "name": "Clarify Response"
    },
    {
      "parameters": {
        "jsCode": "const data = $('Extract Agent Answer').first().json;\n\nreturn [{\n  json: {\n    toolCallId: data.toolCallId,\n    response: data.response\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2112,
        992
      ],
      "id": "a4096b7d-aeb1-496f-b7d6-ddb7d07093d6",
      "name": "Decline Response"
    },
    {
      "parameters": {
        "jsCode": "const agentOutput = $input.first().json;\nconst prevData = $('Extract & Validate Input').first().json;\n\nconst output = agentOutput.output || agentOutput.text || agentOutput.response || '';\n\n// Try to extract JSON from <response> tags\nconst tagMatch = output.match(/<response>\\s*([\\s\\S]*?)\\s*<\\/response>/);\nlet parsed;\n\nif (tagMatch) {\n  try {\n    parsed = JSON.parse(tagMatch[1].trim());\n  } catch {\n    parsed = null;\n  }\n}\n\n// If no tags found, try parsing the whole output as JSON\nif (!parsed) {\n  const jsonMatch = output.match(/\\{[\\s\\S]*\"action\"[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    try {\n      parsed = JSON.parse(jsonMatch[0]);\n    } catch {\n      parsed = null;\n    }\n  }\n}\n\n// If still can't parse, treat the whole output as a direct answer\nif (!parsed) {\n  parsed = {\n    action: 'direct_answer',\n    message: output\n  };\n}\n\nreturn [{\n  json: {\n    toolCallId: prevData.toolCallId,\n    action: parsed.action || 'direct_answer',\n    response: parsed.message || output\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1664,
        800
      ],
      "id": "bc2c2322-d27d-4375-8906-be452b166606",
      "name": "Extract Agent Answer"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst prevData = $('Extract & Validate Input').first().json;\n\nconst responseText = input.output?.[0]?.content?.[0]?.text \n  || input.text \n  || input.message?.content \n  || JSON.stringify(input);\n\nconst clean = responseText.replace(/```json\\s*/g, '').replace(/```\\s*/g, '').trim();\n\nlet result;\ntry {\n  result = JSON.parse(clean);\n} catch {\n  result = { escalate: true, reason: \"Could not parse escalation check — defaulting to escalate\" };\n}\n\nreturn [{\n  json: {\n    userQuery: prevData.userQuery,\n    toolCallId: prevData.toolCallId,\n    shouldEscalate: result.escalate || false,\n    escalationReason: result.reason || \"\"\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        992
      ],
      "id": "62a78f00-5b7d-4cbe-b751-6b0690d6a1dc",
      "name": "Parse Escalation"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "088d0e46-20f5-4351-83e1-d5bca154a52a",
              "leftValue": "={{ $json.shouldEscalate }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        816,
        992
      ],
      "id": "c7e68d89-18cc-4cee-a738-37ef4d8973c1",
      "name": "If"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "responses": {
          "values": [
            {
              "content": "=CUSTOMER QUESTION: {{ $('Extract & Validate Input').item.json.userQuery }}"
            },
            {
              "role": "system",
              "content": "You are an escalation detector for RelayPay customer support. Your job is to determine whether a customer's question requires human support or can be handled by the AI agent.\n\nRELAYPAY ESCALATION POLICY:\n\nThe AI agent is designed to handle general product questions and policy clarifications. It must escalate when the request involves account-specific issues, compliance matters, disputes, or situations requiring human judgment.\n\nESCALATE (return true) when the user:\n- Asks about THEIR SPECIFIC account, transaction, or balance (e.g., \"Where is my $500?\", \"Check my transaction TXN-123\")\n- Reports an account restriction or suspension (e.g., \"My account was suspended\", \"I can't access my account\")\n- Requests dispute, refund, or cancellation support (e.g., \"I want a refund\", \"I need to dispute a charge\")\n- Raises compliance or identity verification concerns about their own account (e.g., \"My KYC was rejected\", \"Why is my verification stuck?\")\n- Expresses frustration or urgency about a personal issue (e.g., \"I've been waiting 3 weeks and nobody responds\", \"This is unacceptable\")\n- Asks for information the AI agent must not provide: internal compliance decisions, dispute timelines, specific outcomes, or sensitive account data\n\nDO NOT ESCALATE (return false) when the user:\n- Asks general product questions (e.g., \"What are your transfer fees?\", \"How do I create an invoice?\", \"What currencies do you support?\")\n- Asks how features work (e.g., \"How do payouts work?\", \"Can I invoice in multiple currencies?\")\n- Asks about general pricing, policies, or timelines that apply to all users (e.g., \"How long do international transfers take?\", \"What documents are needed for KYC?\")\n- Asks about onboarding or getting started (e.g., \"How do I sign up?\", \"What regions do you support?\")\n\nKEY DISTINCTION: \n\"What are your fees?\" → general question → DO NOT escalate\n\"Why was I charged $50 on my last transfer?\" → account-specific → ESCALATE\n\"How long do payouts take?\" → general question → DO NOT escalate  \n\"Where is my payout from last Tuesday?\" → account-specific → ESCALATE\n\"What is KYC?\" → general question → DO NOT escalate\n\"My KYC was rejected and I don't know why\" → account-specific → ESCALATE\n\nIf there is genuine uncertainty between general and account-specific, escalation is preferred over guessing.\n\n\nRespond with ONLY a JSON object, no other text:\n{\"escalate\": true or false, \"reason\": \"short reason\"}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "maxTokens": 150,
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -112,
        992
      ],
      "id": "ca720c89-8535-4b7f-bf0c-cfa39d31bf27",
      "name": "LLM Escalation Checker",
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "8hPrBjFXvWvVS9z7",
          "name": "OpenAi account 8"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9e198af0-1996-4b30-b0b6-2a68d64ba490",
              "leftValue": "={{ $json.toolType }}",
              "rightValue": "escalation",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -336,
        800
      ],
      "id": "0610829d-5d68-4ca3-b3ec-9a47208520a2",
      "name": "If1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://qfkwdfqrkrgjejzqxrsm.supabase.co/rest/v1/escalations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFma3dkZnFya3JnamVqenF4cnNtIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTcyMDk3OSwiZXhwIjoyMDkxMjk2OTc5fQ.EUIu1Uwb4ahyqFdaXXzYU_Y4I87nN6CJFjF7h9CkdhE"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFma3dkZnFya3JnamVqenF4cnNtIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTcyMDk3OSwiZXhwIjoyMDkxMjk2OTc5fQ.EUIu1Uwb4ahyqFdaXXzYU_Y4I87nN6CJFjF7h9CkdhE"
            },
            {
              "name": " Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"user_name\": \"{{ $('Extract & Validate Input').first().json.userName }}\",\n  \"user_email\": \"{{ $('Extract & Validate Input').first().json.userEmail }}\",\n  \"escalation_reason\": \"{{ $('Extract & Validate Input').first().json.reason }}\",\n  \"appointment_time\": \"{{ $('Extract & Validate Input').first().json.preferredTime }}\",\n\"is_test\":{{ $json.isTest }},\n  \"call_booked\": true,\n  \"status\": \"Open\",\n  \"category\": \"other\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        304,
        400
      ],
      "id": "cc80a794-236b-4c38-a422-2b84fe9cdd44",
      "name": "Insert Escalation",
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AP7PR3E8M",
          "mode": "list",
          "cachedResultName": "escalations"
        },
        "text": "=🚨 *New Urgent Escalation*\n*User*: {{ $('Extract & Validate Input').item.json.userName }}\n*Email*: {{ $('Extract & Validate Input').item.json.userEmail }}\n*Reason*: {{ $('Extract & Validate Input').item.json.reason }}\n\n🗓️ *Meeting Booked!*\n*Time*: {{ $('Extract & Validate Input').item.json.preferredTime }}\n*Calendar Link*: {{ $json.htmlLink }} \n",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1664,
        400
      ],
      "id": "51a32fe7-679d-4da9-8692-fe25db8fe1cd",
      "name": "Send a message",
      "webhookId": "d42512a6-23f5-4cfd-a3da-df9c72ba2cc7",
      "retryOnFail": true,
      "credentials": {
        "slackApi": {
          "id": "gfIHlyR7PAr1CuI9",
          "name": "error"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const prev = $('Extract & Validate Input').first().json;\n\nreturn [{\n  json: {\n    toolCallId: prev.toolCallId,\n    response: `Perfect. I have booked an appointment for you at ${prev.preferredTime} and sent a calendar invite to ${prev.userEmail}. Please do well to check your email for further details. A support specialist will speak with you then.`\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2112,
        400
      ],
      "id": "9fcb0d19-bb51-4be2-a67b-f91c88233c1c",
      "name": "Return Confirmation to VAPI"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\n// Handle both formats — direct response or already formatted\nif (data.results) {\n  return [{ json: data }];\n}\n\nreturn [{\n  json: {\n    results: [\n      {\n        toolCallId: data.toolCallId,\n        result: data.response\n      }\n    ]\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2112,
        1184
      ],
      "id": "7ec7bfa6-2da5-4a31-a1ac-967e68134778",
      "name": "Format Response for VAPI"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nif (data.results) {\n  return [{ json: data }];\n}\n\nreturn [{\n  json: {\n    results: [\n      {\n        toolCallId: data.toolCallId,\n        result: data.response\n      }\n    ]\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2336,
        816
      ],
      "id": "f9d03ebd-2185-49c4-a258-552d9fee6a3e",
      "name": "Format Response for Vapi"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2560,
        816
      ],
      "id": "a50facc1-cca7-42cc-841e-ce16dfca4cea",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "const data = $('Extract Agent Answer').first().json;\n\nreturn [{\n  json: {\n    toolCallId: data.toolCallId,\n    response: data.response\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2112,
        800
      ],
      "id": "873d3139-e935-4247-b5ae-9a275907c05d",
      "name": "Direct Answer Response"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nreturn [{\n  json: {\n    toolCallId: data.toolCallId,\n    response: \"This requires assistance from our support team. I've just brought up a short escalation form on your screen. Please fill in your name, email, and preferred callback time and hit submit. I'll wait right here.\"\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1888,
        1184
      ],
      "id": "4ba307c9-595d-475f-9740-2be1d1c808a4",
      "name": "Escalation Trigger"
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('Extract & Validate Input').item.json.preferredTime }}",
        "format": "custom",
        "customFormat": "YYYY-MM-DDTHH:mm:ssZ",
        "options": {
          "timezone": true
        }
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        592,
        400
      ],
      "id": "044698a2-fe74-4eec-ace2-3fba98bbba5a",
      "name": "Format Start Date"
    },
    {
      "parameters": {
        "operation": "addToDate",
        "magnitude": "={{ $('Extract & Validate Input').item.json.preferredTime }}",
        "timeUnit": "minutes",
        "duration": 30,
        "options": {
          "includeInputFields": false
        }
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        816,
        400
      ],
      "id": "f812ed1a-449f-4da0-8b12-12d63e281705",
      "name": "Calculate End Date"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "paul.emechebe@gmail.com",
          "mode": "list",
          "cachedResultName": "paul.emechebe@gmail.com"
        },
        "additionalFields": {
          "attendees": [
            "={{ $('Extract & Validate Input').item.json.userEmail }}"
          ],
          "description": "=Support Escalation: {{ $('Extract & Validate Input').item.json.reason }} with {{ $('Extract & Validate Input').item.json.userName }}",
          "summary": "=Support Escalation for {{ $('Extract & Validate Input').item.json.userName }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1248,
        400
      ],
      "id": "51577cb5-bd09-4d5d-96f5-d318693d246f",
      "name": "Create an event",
      "retryOnFail": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "4gXeMkaFOzQfzFjd",
          "name": "Google Calendar OAuth2 API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://qfkwdfqrkrgjejzqxrsm.supabase.co/rest/v1/escalations?user_email=eq.{{ $('Create an event').item.json.attendees[0].email }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFma3dkZnFya3JnamVqenF4cnNtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU3MjA5NzksImV4cCI6MjA5MTI5Njk3OX0.8nB60muA-EPI1eq04LUT5J_DjyvUIN_LrqoiRH6bALo"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFma3dkZnFya3JnamVqenF4cnNtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU3MjA5NzksImV4cCI6MjA5MTI5Njk3OX0.8nB60muA-EPI1eq04LUT5J_DjyvUIN_LrqoiRH6bALo"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"meet_link\": \"{{ $('Create an event').item.json.htmlLink }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1888,
        400
      ],
      "id": "2ff17336-b57e-4985-894a-fa66f93f115f",
      "name": "HTTP Request",
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "responses": {
          "values": [
            {
              "content": "=CUSTOMER QUESTION: {{ $('Extract & Validate Input').item.json.userQuery }}"
            },
            {
              "role": "system",
              "content": "You are an escalation detector for RelayPay customer support. Your job is to determine whether a customer's question requires human support or can be handled by the AI agent.\n\nRELAYPAY ESCALATION POLICY:\n\nThe AI agent is designed to handle general product questions and policy clarifications. It must escalate when the request involves account-specific issues, compliance matters, disputes, or situations requiring human judgment.\n\nESCALATE (return true) when the user:\n- Asks about THEIR SPECIFIC account, transaction, or balance (e.g., \"Where is my $500?\", \"Check my transaction TXN-123\")\n- Reports an account restriction or suspension (e.g., \"My account was suspended\", \"I can't access my account\")\n- Requests dispute, refund, or cancellation support (e.g., \"I want a refund\", \"I need to dispute a charge\")\n- Raises compliance or identity verification concerns about their own account (e.g., \"My KYC was rejected\", \"Why is my verification stuck?\")\n- Expresses frustration or urgency about a personal issue (e.g., \"I've been waiting 3 weeks and nobody responds\", \"This is unacceptable\")\n- Asks for information the AI agent must not provide: internal compliance decisions, dispute timelines, specific outcomes, or sensitive account data\n\nDO NOT ESCALATE (return false) when the user:\n- Asks general product questions (e.g., \"What are your transfer fees?\", \"How do I create an invoice?\", \"What currencies do you support?\")\n- Asks how features work (e.g., \"How do payouts work?\", \"Can I invoice in multiple currencies?\")\n- Asks about general pricing, policies, or timelines that apply to all users (e.g., \"How long do international transfers take?\", \"What documents are needed for KYC?\")\n- Asks about onboarding or getting started (e.g., \"How do I sign up?\", \"What regions do you support?\")\n\nKEY DISTINCTION: \n\"What are your fees?\" → general question → DO NOT escalate\n\"Why was I charged $50 on my last transfer?\" → account-specific → ESCALATE\n\"How long do payouts take?\" → general question → DO NOT escalate  \n\"Where is my payout from last Tuesday?\" → account-specific → ESCALATE\n\"What is KYC?\" → general question → DO NOT escalate\n\"My KYC was rejected and I don't know why\" → account-specific → ESCALATE\n\nIf there is genuine uncertainty between general and account-specific, escalation is preferred over guessing.\n\n\nRespond with ONLY a JSON object, no other text:\n{\"escalate\": true or false, \"reason\": \"short reason\"}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "maxTokens": 150,
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        240,
        1072
      ],
      "id": "ffbab8fe-f2ef-4c1e-b757-4ccf3ca44dbb",
      "name": "LLM Escalation Checker1",
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "8hPrBjFXvWvVS9z7",
          "name": "OpenAi account 8"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1168,
        1024
      ],
      "id": "72591c33-08b1-46c5-ac90-59ddf93fc863",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "5wRAjsiqSnpYVVqb",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "cohort2pod1.app.n8n.cloud",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/146.0.0.0 Safari/537.36",
            "content-length": "612",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "accept-language": "en-US,en;q=0.9,fr;q=0.8",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "41.184.169.197",
            "cf-ew-via": "15",
            "cf-ipcountry": "NG",
            "cf-ray": "9ea6a7c99cee0727-MAD",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "origin": "http://localhost:3000",
            "priority": "u=1, i",
            "referer": "http://localhost:3000/",
            "sec-ch-ua": "\"Chromium\";v=\"146\", \"Not-A.Brand\";v=\"24\", \"Google Chrome\";v=\"146\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "41.184.169.197, 188.114.111.234",
            "x-forwarded-host": "cohort2pod1.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-13-69889bc54b-fj6hs",
            "x-is-trusted": "yes",
            "x-real-ip": "41.184.169.197"
          },
          "params": {},
          "query": {},
          "body": {
            "message": {
              "type": "tool-calls",
              "toolCalls": [
                {
                  "id": "form-escalation-1775875529194",
                  "type": "function",
                  "function": {
                    "name": "submit_escalation",
                    "arguments": {
                      "user_name": "ni",
                      "user_email": "ni@gmail.com",
                      "preferred_time": "2026-04-29T08:30:00.000Z",
                      "reason": "Escalation triggered during voice support call",
                      "is_test": false
                    }
                  }
                }
              ],
              "toolCallList": [
                {
                  "id": "form-escalation-1775875529194",
                  "type": "function",
                  "function": {
                    "name": "submit_escalation",
                    "arguments": {
                      "user_name": "ni",
                      "user_email": "ni@gmail.com",
                      "preferred_time": "2026-04-29T08:30:00.000Z",
                      "reason": "Escalation triggered during voice support call",
                      "is_test": false
                    }
                  }
                }
              ]
            }
          },
          "webhookUrl": "https://cohort2pod1.app.n8n.cloud/webhook/vapi-tool-call",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract & Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract & Validate Input": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Direct Answer Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Clarify Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Decline Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Clarify Response": {
      "main": [
        [
          {
            "node": "Format Response for Vapi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Extract Agent Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Escalation": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Escalation Trigger",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Escalation Checker": {
      "main": [
        [
          {
            "node": "Parse Escalation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LLM Escalation Checker1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Insert Escalation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LLM Escalation Checker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Escalation": {
      "main": [
        [
          {
            "node": "Format Start Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response for Vapi": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Agent Answer": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decline Response": {
      "main": [
        [
          {
            "node": "Format Response for Vapi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response for VAPI": {
      "main": [
        [
          {
            "node": "Format Response for Vapi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return Confirmation to VAPI": {
      "main": [
        [
          {
            "node": "Format Response for Vapi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Direct Answer Response": {
      "main": [
        [
          {
            "node": "Format Response for Vapi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escalation Trigger": {
      "main": [
        [
          {
            "node": "Format Response for VAPI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Start Date": {
      "main": [
        [
          {
            "node": "Calculate End Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate End Date": {
      "main": [
        [
          {
            "node": "Create an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Return Confirmation to VAPI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Escalation Checker1": {
      "main": [
        [
          {
            "node": "Parse Escalation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "450atFi5lhNgp3qp"
  },
  "versionId": "7652b885-7b88-4a5e-a0d6-e1fd452a22b9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2c950992e72c1f7626700d7c88cf07f1fa608dd6abbe3ba3e9ff0a6cfdcbd670"
  },
  "id": "fmQIfUvWvEFB6wNm",
  "tags": []
}